body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  margin-top: 15px;
}

#timer {
  font-size: 48px;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}
